<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/formularioMenu.css">
</head>
<body>
<header class="header">
    <div class="container logo-nav-container">
        <a href="#"><img class="logo" src="../static/img/backgrounds/edelec.png" alt="logo"></a>
        <nav class="navegation">
            <ul>
                <li><a href="#">SOBRE</a></li>
                <li><a href="#">UNIVERSIDADES</a></li>
                <li><a href="#">BUSCADOR</a></li>
                <li><a href="#">CONTACTO</a></li>
            </ul>
        </nav>
        <div class="user"></div>
    </div>
</header>
<div id="fondo">
</div>
<main class="main">
    <div class="container-body">

    </div>
    <div class="container-body2">
        <div class="test">
            <h1 class="text titulo test-to">Test</h1>
        </div>
        <div class="line"></div>
        <h2 class="text titulo Vocacional">Vocacional</h2>
        <div class="parrafo">
            <p class="text">En este Test se te evaluaran tus respuestas para<br>determinar con que carreras tienes mejor<br>
                afinidad, para que tengas una serie de opciones<br>que te permite seleccionar.</p>
        </div>
        <div class="boton">
            <a href="#"><button class="button" href="#"><span class="texto">LEST'S<b>GO</b></span></button></a>
        </div>

    </div>
</main>
</body>
</html>