<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/modidatosMenu.css">
  <title>Document</title>
</head>
<body>
<div class="lineBlue"></div>
<div class="triBlue"></div>
<div class="triwhite"></div>
<header class="header">
  <div class="container logo-nav-container">
    <a href="#"><img class="logo" src="../static/img/backgrounds/edelec.png" alt="logo"></a>
    <nav class="navegation">
      <ul>
        <li><a href="#">SOBRE</a></li>
        <li><a href="#">UNIVERSIDADES</a></li>
        <li><a href="#">BUSCADOR</a></li>
        <li><a href="#">CONTACTO</a></li>
      </ul>
    </nav>
    <div class="user"></div>
  </div>
</header>

<main class="tiposBuscador">
  <div class="buscadorUni">
    <div class="targetbus">
      <h3>Ingrese el nombre de la Universidad</h3>
      <label><input type="search"></label>
    </div>
  </div>
  <div class="buscadorCarrera">
    <div class="targetcarrera">
      <h3>Ingres nombre de carrera</h3>
      <label><input type="search"></label>
    </div>
  </div>
</main>


</body>
</html>